<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>20E5EF03-5225-4A59-B93D-31D9565B6F40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFB46D8A-B33A-44FA-809A-7E69845E2B92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F7F52F9-9375-424F-BE34-2BE5037D63E8</key>
		<array/>
		<key>969E26C4-62F8-4489-83C3-697B7ADDE318</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1316CFD1-9C82-44C6-87A9-D25B494D87FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFB46D8A-B33A-44FA-809A-7E69845E2B92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1316CFD1-9C82-44C6-87A9-D25B494D87FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Testing</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "System Events"
    delay 0.5
    keystroke "Homer"
    keystroke tab
    keystroke tab
    keystroke "Simpson"
	keystroke tab
	keystroke tab
	delay 0.2
    keystroke 05252005
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>3F7F52F9-9375-424F-BE34-2BE5037D63E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    set myList to {"Hello", "Goodbye", "I must be going"}
    repeat with theItem in myList
		tell application "System Events" 
			delay 0.5
			
			keystroke tab
			keystroke space
		end tell
    end repeat
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>969E26C4-62F8-4489-83C3-697B7ADDE318</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Test</string>
				<key>title</key>
				<string>Super Title</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1316CFD1-9C82-44C6-87A9-D25B494D87FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>balls, sack</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>20E5EF03-5225-4A59-B93D-31D9565B6F40</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    set myList to {{id:"123", name:"apple"}, {id:"456", name:"banana"}, {id:"789", name:"orange"}}

    repeat with obj in myList
        set idValue to id of obj
        set nameValue to name of obj
        
        say "ID: " &amp; idValue &amp; ", Name: " &amp; nameValue
    end repeat
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>BFB46D8A-B33A-44FA-809A-7E69845E2B92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1316CFD1-9C82-44C6-87A9-D25B494D87FF</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>20E5EF03-5225-4A59-B93D-31D9565B6F40</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>3F7F52F9-9375-424F-BE34-2BE5037D63E8</key>
		<dict>
			<key>note</key>
			<string>PassengerInfo</string>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>969E26C4-62F8-4489-83C3-697B7ADDE318</key>
		<dict>
			<key>note</key>
			<string>Flight Search</string>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>BFB46D8A-B33A-44FA-809A-7E69845E2B92</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
