# Install these on the client machine
{{- if eq .location "client" }}
cask "figma"
cask "microsoft-auto-update"
cask "microsoft-edge"
cask "microsoft-outlook"
cask "microsoft-teams"
cask "slack"

{{- end }}

# Install these on the personal machine
{{- if eq .location "default" }}
brew "ffmpeg"
brew "lynx"
brew "ollama"
brew "wireguard-tools"
cask "kindle"
cask "lightburn"
cask "nordvpn"
cask "obs"
cask "signal"

{{- end }}

# Install Dev tools
{{- if eq .location "dev" }}
brew "allure"
brew "azure-cli"
brew "azcopy"
brew "curl"
brew "gh"
brew "git"
brew "jq"
brew "nvm"
brew "openfortivpn"
brew "ossp-uuid"
brew "powerlevel10k"
brew "wget"
brew "zsh"
cask "activitywatch"
cask "devtoys"
cask "devutils"
cask "dotnet-sdk"
cask "elgato-stream-deck"
cask "espanso"
cask "github"
cask "gitify"
cask "imageoptim"
cask "jetbrains-toolbox"
cask "proxyman"
cask "sourcetree"
cask "visual-studio-code"
mas "Color Picker", id: 1545870783
mas "GIF Keyboard", id: 1043270657
mas "Magnet", id: 441258766
mas "NordVPN IKE", id: 1116599239
mas "RunCat", id: 1429033973
mas "SnippetsLab", id: 1006087419
mas "TextSniper", id: 1528890965
mas "Xcode", id: 497799835
tap "espanso/espanso"

{{- end }}

# Install these on all machines
brew "chezmoi"
brew "json-c"
brew "mas"
cask "1password"
cask "1password-cli"
cask "activitywatch"
cask "adobe-acrobat-reader"
cask "alfred"
cask "bartender"
cask "cleanshot"
cask "claude"
cask "firefox"
cask "flux"
cask "font-hack-nerd-font"
cask "font-open-dyslexic-nerd-font"
cask "google-chrome"
cask "grammarly-desktop"
cask "hyper"
cask "istat-menus"
cask "keyboardcleantool"
cask "krisp"
cask "mac-mouse-fix"
cask "obsidian"
cask "textsniper"
cask "wakatime"
cask "zoom"
mas "AS Timer", id: 512464723
mas "The Unarchiver", id: 425424353
