tap "espanso/espanso"
tap "gabotechs/taps"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/services"
tap "nikitabobko/tap"
tap "sambadevi/powerlevel9k"
brew "cairo"
brew "icu4c@76"
brew "harfbuzz"
brew "allure"
brew "jpeg-xl"
brew "azcopy"
brew "libyaml"
brew "azure-cli"
brew "chezmoi"
brew "cmake"
brew "curl"
brew "unbound"
brew "librist"
brew "ffmpeg"
brew "freetds"
brew "libavif"
brew "gh"
brew "git"
brew "netpbm"
brew "librsvg"
brew "graphviz"
brew "jq"
brew "json-c"
brew "lynx"
brew "mas"
brew "netdata"
brew "nghttp2"
brew "nvm"
brew "ollama"
brew "openfortivpn"
brew "ossp-uuid"
brew "php"
brew "postgresql@14", restart_service: :changed
brew "powerlevel10k"
brew "pwgen"
brew "python@3.10"
brew "python@3.11"
brew "wget"
brew "wireguard-tools"
brew "zsh"
brew "sambadevi/powerlevel9k/powerlevel9k"
cask "1password"
cask "1password-cli"
cask "activitywatch"
cask "adobe-acrobat-reader"
cask "alfred"
cask "balenaetcher"
cask "bartender"
cask "blackhole-16ch"
cask "blackhole-2ch"
cask "cleanshot"
cask "datagrip"
cask "db-browser-for-sqlite"
cask "devtoys"
cask "devutils"
cask "discord"
cask "dotnet-sdk"
cask "elgato-stream-deck"
cask "espanso"
cask "expressvpn"
cask "fig"
cask "figma"
cask "filebot"
cask "firealpaca"
cask "firefox"
cask "flux"
cask "font-hack-nerd-font"
cask "font-open-dyslexic-nerd-font"
cask "github"
cask "gitify"
cask "google-chrome"
cask "grammarly-desktop"
cask "hashicorp-vagrant"
cask "hyper"
cask "imageoptim"
cask "intune-company-portal"
cask "istat-menus"
cask "keyboard-maestro"
cask "keyboardcleantool"
cask "kindle"
cask "krisp"
cask "lightburn"
cask "little-snitch"
cask "local"
cask "logseq"
cask "lunasea"
cask "mac-mouse-fix"
cask "microsoft-auto-update"
cask "microsoft-edge"
cask "microsoft-outlook"
cask "microsoft-teams"
cask "nordvpn"
cask "obsidian"
cask "proton-pass"
cask "proxyman"
cask "rider"
cask "sabnzbd"
cask "signal"
cask "skype"
cask "slack"
cask "sourcetree"
cask "tinymediamanager"
cask "todoist"
cask "tor-browser"
cask "ultimate"
cask "visual-studio-code"
cask "vlc"
cask "wakatime"
cask "wavebox"
cask "webex"
cask "webstorm"
mas "AS Timer", id: 512464723
mas "Color Picker", id: 1545870783
mas "Day One", id: 1055511498
mas "GIF Keyboard", id: 1043270657
mas "Goodnotes", id: 1444383602
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Kindle", id: 302584613
mas "LanScan", id: 472226235
mas "Magnet", id: 441258766
mas "NordVPN IKE", id: 1116599239
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "RunCat", id: 1429033973
mas "SnippetsLab", id: 1006087419
mas "TextSniper", id: 1528890965
mas "The Unarchiver", id: 425424353
mas "Windows App", id: 1295203466
mas "Xcode", id: 497799835
vscode "aykutsarac.jsoncrack-vscode"
vscode "bierner.color-info"
vscode "brainfit.vscode-coverage-highlighter"
vscode "buenon.scratchpads"
vscode "christian-kohler.path-intellisense"
vscode "codium.codium"
vscode "davidanson.vscode-markdownlint"
vscode "dbaeumer.vscode-eslint"
vscode "docsmsft.docs-markdown"
vscode "docsmsft.docs-preview"
vscode "eamodio.gitlens"
vscode "editorconfig.editorconfig"
vscode "formulahendry.auto-rename-tag"
vscode "formulahendry.code-runner"
vscode "freakinward.jetbrains-ide-dark-theme"
vscode "freakinward.webstorm-darcula-theme"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "gruntfuggly.todo-tree"
vscode "hediet.vscode-drawio"
vscode "imekachi.webstorm-darcula"
vscode "ionutvmi.path-autocomplete"
vscode "k--kato.intellij-idea-keybindings"
vscode "miltonian.extract-ai"
vscode "ms-azure-devops.azure-pipelines"
vscode "ms-azuretools.vscode-azureresourcegroups"
vscode "ms-azuretools.vscode-azurestaticwebapps"
vscode "ms-azuretools.vscode-bicep"
vscode "ms-azuretools.vscode-docker"
vscode "ms-dotnettools.csharp"
vscode "ms-dotnettools.vscode-dotnet-runtime"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode-remote.remote-wsl"
vscode "ms-vscode-remote.vscode-remote-extensionpack"
vscode "ms-vscode.cpptools"
vscode "ms-vscode.live-server"
vscode "ms-vscode.remote-explorer"
vscode "ms-vscode.remote-server"
vscode "ms-vscode.vscode-serial-monitor"
vscode "orta.vscode-jest"
vscode "planbcoding.vscode-react-refactor"
vscode "pnp.polacode"
vscode "reactreedev.reactree"
vscode "redhat.vscode-yaml"
vscode "ryanluker.vscode-coverage-gutters"
vscode "shinotatwu-ds.file-tree-generator"
vscode "steoates.autoimport"
vscode "streetsidesoftware.code-spell-checker"
vscode "vivaxy.vscode-conventional-commits"
vscode "vscode-icons-team.vscode-icons"
vscode "wakatime.vscode-wakatime"
vscode "withfig.fig"
vscode "ytechie.armviz"
