<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>A1118EBA-BA35-456D-8EC5-156D61AE5E34</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kb</string>
			<key>text</key>
			<string>{query}</string>
			<key>url</key>
			<string>obsidian://search?vault=WardsWiki&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
